<tr>
  <td>text-{{ name }}</td>
  <td>{{ value }}</td>
  <td class="text-{{name}} text-base font-weight-bold">Lorem ipsum dolor sit amet.</td>
  <td class="bg-dark border-dark-gray text-{{name}} text-base font-weight-bold">Lorem ipsum dolor sit amet.</td>
</tr>

