<div class="mb-3">{{{ meta.description }}}</div>

<div class="table-responsive">
    <table class="table table-sm sg-table">
        <thead>
            <tr>
                <th>Class</th>
                <th>Size</th>
                <th>Sample</th>
            </tr>
        </thead>
        <tbody>

    {{# font-sizes }}
        <tr>
          <td>text-{{ name }}</td>
          <td>{{ value }}rem</td>
          <td class="text-{{name}}">Lorem ipsum dolor sit amet.</td>
        </tr>
    {{/ font-sizes }}
    
        </tbody>
    </table>
</div>
