<div class="mb-3">{{{ meta.description }}}</div>


{{#each iconCategories }}

<h4 class="mb-2">{{name}}</h4>
<ul class="sg-icon-grid">

    {{#each icons }}
    <li class="sg-icon-grid__item">
        {{> global-icon }}
        <span class="sg-icon-grid__label">{{ this }}</span>
    </li>
    {{/each }}

</ul>
{{/ each}}
<!--end sg-colors-->



