<tr>
  <td>text-{{ name }}</td>
  <td>{{ value }}</td>
  <td class="text-{{name}}">Lorem ipsum dolor sit amet.</td>
  <td class="bg-dark border-dark-gray text-{{name}}">Lorem ipsum dolor sit amet.</td>
</tr>