<figure class="news-article__figure border-light-gray plain border-bottom pb-3">
  <div class="news-article__figure__two-figures">
    {{> elements-news-article-image margin-bottom="" }}
    {{> elements-news-article-image margin-bottom="" newsImg=newsImg2 }}
  </div>
  {{> elements-news-caption }}
</figure>