<div class="news-article__figure--container-width">
  <figure class="news-article__figure border-light-gray plain border-bottom pb-3">
   	{{> elements-news-article-image }}
    	{{> elements-news-caption }}
  </figure>
</div>